.balance {
  display: block;
}

.main {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 2vh;
  margin-top: 2vh;
}

.display {
  flex-basis: 50vw;
  background-color: #120136;
  color: white;
  margin-left: 5vw;

}

.options {
  flex-basis: 45vw;
  
}

.options-list {
  list-style: none;
  margin-right: 5vw
}

.options-item {

}

.cbal {
 text-align: center;
}

.staffLogin {
  font-size: smaller;
}