<div class="main">


  <!doctype html>
  <html lang="en">
    <head>
    
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    
    
    </body>
    </html>



  <section class="display">
    <!-- Display Feedback information here -->

<br><br>
<div class="displayViewText">
    <h4 class="nametitle" *ngIf="BankService.greeting">
      Hello {{ BankService.account.fname }}! </h4><br>

    <p *ngIf="!BankService.transactionGenerated && 
    !BankService.transactionHistory && BankService.greeting">
      1) Enter Amount <br>
      2) Select Transaction Type
    </p>

    <p *ngIf="BankService.transactionGenerated && 
    !BankService.transactionHistory"> Transaction Successful!<br>
      Your balance is ${{ BankService.account.balance }}
    </p>

  <input type='number' *ngIf="!BankService.transactionHistory && 
  BankService.greeting"   [(ngModel)]='BankService.value'/>

  <div *ngIf="BankService.transactionHistory">
    <h5> Transaction History </h5><br>  
    <div *ngFor="let transaction of BankService.account.transactions 
      | slice: -5">
      
        [{{ transaction.date }}] -
        {{ transaction.type }} -
        {{ transaction.amount | currency }}

      </div>
      </div>
      <br><br>
        <div *ngIf="BankService.balanceView">
          <h5>Total Balance:</h5> 
          {{ BankService.account.balance | currency }}
        </div> 

  </div>

          

        



              
</section>
  <aside class="buttons1 options">
    
    <ul class="options-list">
      <li class="options-item">
        <button class="btn m-1 btn-primary" 
        (click)="BankService.allExceptChosen('greeting', 'defaultScreen')">
        Home 
      </button>
      </li>
      <li class="options-item">
        <button [disabled]="BankService.value === undefined" 
        class="btn m-1 btn-primary" 
        (click)="BankService.withdraw()">
        Widthdraw
      </button>
      </li>
      <li class="options-item">
        <button [disabled]="BankService.value === undefined" 
        class="btn m-1 btn-primary" 
        (click)="BankService.deposit()">
        Deposit
      </button>
      </li>
      <li class="options-item">
        <button class="btn btn-primary m-1" 
        (click)="BankService.allExceptChosen('balanceView')">
        Balance
      </button>
      </li>
      <li class="options-item">
        <button class="btn btn-primary m-1" 
        (click)="BankService.allExceptChosen('transactionHistory')">
        Transactions
        </button>
      </li>
      
    </ul>
  </aside>


