
.main {
  display: flex;
  flex-flow: row nowrap;
  height: 70vh;

}

.display {
  flex-basis: 50vw;
  background-color: #120136;
  color: white;
 
}

.displayViewText{
  margin-top: 15vh;
  font-size: 25px;
}

.options {
flex-basis: 50vw;
  
}

.options-list {
  list-style: none;
  flex-direction: row;
}



.buttons1{
  display: flex;
  flex-direction: column; 
  justify-content: center;
}

.btn{
  width: 30vw;
  height: 10vh;
  font-size: 30px
}