<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
  
    <div class="container">
      <div class="box box1">
        <div class="cInfo2">
          <dl class="row cInfo">
              <dt class="col-sm-12">
              <h4 class="c-info-title">Contact Info:</h4>
            </dt>
            <dt class="col-sm-12">
              Address:
            </dt>
            <dd class="col-sm-12">
              Bank of San Diego <br>
              1234 Something Lane, <br>
              San Diego, CA, 92117
            </dd>
            <dt class="col-sm-12">
              Phone:
            </dt>
            <dd class="col-sm-12">
              858-111-2222
            </dd>
            <dt class="col-sm-12">
              Email:
            </dt>
            <dd class="col-sm-12">
              support@bosd.com
            </dd>
          </dl>
        </div>
      </div>
      
      <div class="box box2">
        <h4>Feedback:</h4>
        
        <form>
          <div class="form-group">
            <label>Email address:</label>
            <input class="form-control" placeholder="enter email address">
          </div>
         
        
         <div class="form-group">
            <label>Rate your Experience</label>
            <select class="form-control">
              <option>5 - Very Satisfied</option>
              <option>4 - Satisfied </option>
              <option>3 - Adequate </option>
              <option>4 - Bad </option>
              <option>5 - Terrible </option>
            </select>
          </div>
        
          <div class="form-group">
            <label>Comment:</label>
            <textarea class="form-control" rows="3">
        </textarea>
          </div>
        
        <button type="submit" class="btn btn-primary form-group">Submit</button>
        
        </form>



        <p><br>We'd Love to Hear<br>
           Your Thoughts!</p>
      </div>
    </div>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  </body>
</html>