



.container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    margin-top: 2vh;;
    justify-content: space-between;
    margin-bottom: 3vh;
   
    
}

.box {
    width: 50vw;
    text-align: center;
    margin-left: 5vw;  
    margin-right: 5vw;
    height: 50vh;
    
}



.box2 {
    
    text-align: center;
}

.cInfo {
    /* display: grid; */
    display: flex;
    flex-direction: row;
    height: 50vh;
    /* grid-template: auto auto auto / 1fr; */
  
    
   
}


.form-group{
    width: auto 10vw;


   
}



.thankYou {
    font-size: smaller;
    position: relative;
    bottom: 30px;
}