

.footer{ 
display:flex;
flex-flow: row nowrap;
list-style: none;
justify-content: center;



height: 10vh;
width: auto 100vw;
background-color: #035aa6;
margin-left: 0;
margin-right: 0;
margin-top: 3vh;
}

.copy {
    align-self: flex-end;
}