

.footer{ 
display:flex;
flex-flow: row nowrap;
list-style: none;
justify-content: center;
color: white;


height: 15vh;
width: auto 100vw;
background-color: #035aa6;
margin-left: 0;
margin-right: 0;
}

.copy {
    align-self: flex-end;
    margin-bottom: 5px;
}