

.footerfillerleft{
    margin-top: 3vh;
    margin-left: 2vw;
}

.footerfillerright{
    margin-top: 3vh;
    margin-right: 5vw;
}


.footer{ 
display:flex;
flex-flow: row nowrap;
list-style: none;
justify-content: space-between;
color: white;
height: 15vh;
width: auto 100vw;
background-color: #035aa6;
margin-left: 0;
margin-right: 0;
}

.copy {
    align-self: flex-end;
    margin-bottom: 5px;
}


